@font-face {
    font-family: "lato";
    src: url(../font/Lato-Black.ttf);
    src: url(../font/Lato-BlackItalic.ttf);
    src: url(../font/Lato-Bold.ttf);
    
}
@font-face {
    font-family: "raleway";
    src: url(../font/Raleway-Bold.ttf);
    src: url(../font/Raleway-Italic-VariableFont_wght.ttf);
    src: url(../font/Raleway-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    font-family: "raleway", sans-serif;
    margin: 0;
    padding: 0;
}

h1 h2 h3 {
    font-family: "lato" , sans-serif;
}

body {
    background: #f5f5f5;
}

.cv {
    width: 1160px;
    margin: 0 auto;   /* centre horizontalement */
    background: white;
}

.header {
    display: flex;
    align-items: center;
    background: #17abb3;
    color: white;
    padding: 20px 40px;
}

/* Photo à gauche */
.photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
    cursor: zoom-in;
}

/* Texte centré dans le header */
.infos {
    margin: 0 auto;
    text-align: center;
}


/* Contact */
.contact {
    display: flex;
    gap: 20px;
    font-size: 14px;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.contact a {
    color: white;
    text-decoration: none;
}


.contact a {
    color: white;
    text-decoration: none;
    margin: auto;
    padding: 20px;
    color: black;
}

.contact a:hover {
    text-decoration: underline;
}

.contact img {
    margin: auto;
    width: 40px;
}


/* CONTENU */
.content {
    display: flex;
}

/* COLONNE GAUCHE */
.left {
    width: 30%;
    background: #e3e3e3;
    padding: 20px;
}

.left h3 {
    color: #17abb3;
    margin-bottom: 10px;
}

.left section {
    margin-bottom: 20px;
}

.left ul {
    list-style: square;
}

.left li {
    margin-bottom: 5px;
}

/* COLONNE DROITE */
.right {
    width: 70%;
    padding: 20px;
}

.right h3 {
    color: #17abb3;
    margin-bottom: 10px;
}

.right section {
    margin-bottom: 25px;
}

.item {
  padding: 16px;
  margin-bottom: 16px;
  background-color: #e3e3e3;
  border-left: 4px solid transparent;
}

.item:hover {
  background-color: #d1d6dfc6;
  border-left-color: #17abb3;
}

.item span {
    float: right;
    color: #17abb3;
    font-size: 18px;
}

/* FOOTER */
.footer {
    background: #17abb3;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}

.footer p {
    margin-top: 10px;
    font-size: 14px;
}

.footer img {
    opacity: 1;
    margin: auto;
    width: 30px;
}
.footer img:hover{
    opacity: 0.5;

}